<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>About Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                            <div class="col-xs-6">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <th:block th:each="items : ${cart.cartItems}">
                        <hr>
                        <div class="row">
                            <div class="col-xs-2">
                                <img th:src="@{${items.food.imageUrl}}" class="img-thumbnail" width="100" height="70">
                            </div>
                            <div class="col-xs-4">
                                <h4 class="product-name"><strong th:text="${items.food.name}"></strong></h4>
                                <h4><small th:text="${items.food.description}"></small></h4>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-6 text-right">
                                    <h6><strong th:text="${items.totalPrice}"><span class="text-muted">x</span></strong></h6>
                                </div>
                                <div class="col-xs-4">
                                    <h6><strong th:text="${items.quantity}"></strong></h6>
                                </div>
                                <div class="col-xs-2">
                                    <a th:href="@{/cart/remove/{id}(id=${items.food.id})}" class="btn btn-danger">Remove</a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <hr>
                    <div class="row">
                        <div class="text-center">
                            <div class="col-xs-9">
                                <h6 class="text-right">Added items?</h6>
                            </div>
                            <div class="col-xs-3">
                                <button type="button" class="btn btn-default btn-sm btn-block">
                                    Update cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-9">
                            <h4 class="text-right">Total <strong th:text="${cart.totalPrice}"></strong></h4>
                        </div>
                        <div class="col-xs-3">

                            <a th:href="@{/cart/checkout}" class="btn btn-success btn-block">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>