<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Food List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <h3>Foods we serve</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Type</th>
            <th scope="col">Country</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each = "food : ${food}">

            <td>
                <a th:href="@{/food/detail(id=${food.id})}" th:text="${food.id}"></a>
            </td>
            <td th:text="${food.name}"></td>
            <td th:text="${food.price}"></td>
            <td th:text="${food.foodType}"></td>
            <td th:text="${food.countryOfOrigin}"></td>
            <td>
                <a th:href="@{/food/update(id=${food.id})}" class="btn btn-success">Edit</a>
            </td>
            <td>
                <a th:href="@{/food/delete(id=${food.id})}" class="btn btn-danger">Remove</a>
            </td>
        </tr>
    </table>

    <form action="#" th:action="@{/food/list_by_price}" method="GET">
        <input type="text" name="price" class="form-control">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <a th:if="${#authorization.expression('hasRole(''ADMIN'')')}" href="#" th:href="@{/food/new}" class="btn btn-primary">New Food</a>
</div>

</body>
</html>